---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import { NUMBER_OF_POSTS_PER_PAGE } from "../server-constants";
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from "../lib/notion/client";
const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
]);
---

<BaseLayout>
  <div class="flex-col gap-20 lg:gap-48">
    <main class="flex-col py-4 md:mx-20 mx-10 w-100">
      <section class="py-10">
        <h2 class=""><a href="/blog" class="text-black">Blog</a></h2>
        {
          posts.length === 0 ? (
            <NoContents contents={posts} />
          ) : (
            posts.map((post) => (
              <p class="">
                <a href={`/blog/${post.Slug}`}>{post.Title}</a>
              </p>
            ))
          )
        }
      </section>
      <section id="social" class="py-10">
        <h2 class="">Social Media</h2>
        <ul class="flex flex-row flex-wrap gap-5">
          <li>
            <a href="https://www.facebook.com/jacopen" class="text-white"
              >Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/jacopen" class="text-white">Twitter</a>
          </li>
          <li>
            <a href="https://misskey.io/@jacopen" class="text-white">Misskey</a>
          </li>
          <li>
            <a href="https://mstdn.jp/@jacopen" class="text-white">Mastodon</a>
          </li>
        </ul>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  h2 {
    @apply text-2xl font-bold py-4 md:text-4xl;
  }

  h2:hover {
    @apply transform duration-100 -translate-y-1;
  }

  #social ul li {
    @apply bg-gray-100 items-center justify-center rounded-2xl font-medium px-2 py-1 text-white;
    background: var(--accent-regular);
  }
</style>
