---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';

const entries = (await getCollection('blog'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

---

<BaseLayout>
	<div class="flex-col gap-20 lg:gap-48">
		<div class="flex-col mx-20">
			<header class="hero">
				<div class="w-20 bg-white rounded-lg">aaa</div>
			</header>
		</div>
		

		<main class="flex-col py-4 mx-20 w-100">
			<section class='py-10'>
				<h2 class=""><a href='/blog' class='text-black '>Wells.jp blog</a></h2>
				{
					entries.map((entry) => (
						<p class=''>
							{entry.data.title}
						</p>
					))
				}
			</section>
			<section class='py-10'>
				<h2 class="">Cloud Penguins</h2>
				<p class='test'>test にほんごのてすとです</p>
			</section>
			<section id='social' class='py-10'>
				<h2 class="">Social Media</h2>
				<ul class='flex flex-row gap-5'>
					<li>Facebook</li>
					<li>Twitter</li>
					<li>MissKey</li>
					<li>Mastodon</li>
					<li></li>
				</ul>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	h2 {
		@apply text-3xl font-bold py-4;
	}

	h2:hover {
		@apply transform duration-100 -translate-y-1;
	}

	#social ul li{
		@apply bg-gray-100 items-center justify-center rounded-2xl font-medium px-2 py-1 text-white;
		background: var(--accent-regular)
	}
</style>