---
interface Props {
	en_name: string;
	ja_name: string;
	nickname: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, en_name, ja_name, nickname } = Astro.props;
---

<header class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title">{en_name}</h1>
		<h2 class="title">{ja_name}</h2>
		<h2 class="title">@{nickname}</h2>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</header>

<style>
	.hero {
		font-size: var(--text-md);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 70ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-lg);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-4xl);
		}
	}
</style>
